body{
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    float: left;
    margin:0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

}
#container {
    margin-left: auto;
}

#nav {
    padding-top: 150px;
    text-align: center;
    font-size: 4.5em;
    
}


#gallery1{
    margin: 5px;
   
    float: left;
    width:1200px;
    margin-left: 70px;
    margin-bottom: 50px;
    background-color: rgb(208, 230, 187);
    height: 490px;

    
}
#gallery2{
    margin: 5px;
    margin-top: 25px;
    float: left;
    width:1200px;
    margin-left: 70px;
    margin-bottom: 100px;
    background-color: rgb(165, 209, 238);
    height: 340px;
    

    
}

#content {
    float: none;
    top: 8px;
    left: 16px;
    padding: 15px;
    text-align: left;
    margin-top: 350px;
    

}
#desc1 {
    position: relative;
    text-align: left;
    margin-top: -43%;
    padding-left:525px;
    font-size: 2.75em;
    color: whitesmoke;
   

}
#desc2 {
    position: relative;
    text-align: left;
    margin-top: -30%;
    padding-left:525px;
    font-size: 2.75em;
    color: whitesmoke;
    
}
img {
    width:500px;
    float: none;
    margin: 0;
    filter: blur(5px);
    
}
#gallery1:hover {
    border:3px solid rgb(208, 230, 187);
    
    animation: mymove 5s infinite; 
}
@keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px rgb(190, 209, 171)
    }
}
#gallery2:hover {
    border:3px solid rgb(165, 209, 238);
    
    animation: mymove 5s infinite; 
}
@keyframes mymove {
    50% {
        box-shadow: 10px 20px 30px rgb(102, 104, 100)
    }
}
#desc1:hover {}
.box {
    background: white;
    width:350px;
    height: 3px;
    margin: -50px 0px 0px 0px;
    
}
.box2 {
    background: white;
    width:350px;
    height: 3px;
    margin: -50px 0px 0px 0px;
    
}

html {
    scroll-behavior: smooth;
}
#footer {
    padding-top: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width:100%
}
p , li {
    font-size: 0.75em;
}
ul {
    margin:-10px

}
